.title {
    text-align: center;
    color: orange;
    font-size: 120px;
}

.container {
    text-align: center;
    background-color: rgb(117, 0, 117);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.list {
    background-color: orange;
    font-size: 50px;
}

a {
    color: white;

}

a:visited {
    color: rgb(117, 0, 117)
}