.title {
    text-align: center;
    color: orange;
    font-size: 60px;
}

.container {
    background-color: rgb(117, 0, 117);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.list {
    background-color: orange;
    font-size: 50px;
}

.image {
    height: auto;
    width: 500px;

}

ol,
ul {
    background-color: orange;
    color: white;
    font-size: 15px;
}

ol li,
ul li {
    padding: 5px;
}